@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url(../css/_reset.css);
@import url(../css/_base.css);


/*----Section Esquerda-----*/

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5em;
    width: 50%;
}

.titulo-principal {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: var(--branco);
}

.titulo-principal--destaque {
    color: var(--cor-destaque);
}

.contato-lista {
    display: flex;
    align-items: center; 
    cursor: pointer;
    border: 3px solid transparent;
    padding: 1em;
    
    font-size: 20px;
    color: var(--branco);
}

.contato-lista:hover {
    background-color: #570A57;
    border: 3px solid var(--cor-destaque);
    border-radius: 16px;  
}

.contato-lista--icone {
    margin-right: 1em;
}

.redes-sociais {
    display: flex;
    gap: 1em;
    cursor: pointer;
}

.redes-sociais--item {
    padding: .75em 1em;
}

.redes-sociais--item:hover {
    background-color: var(--cor-destaque);    
    border-radius: 50%;
}

/*----Section Diretia-----*/

.lado-direito {
    display: flex;
    flex-direction: column;

    background-color: var(--branco);
    border-radius: 24px;
    padding: 1.5em;
    width: 50%;
}

.titulo-mensagem {
    color: var(--cor-de-fundo);
    font-size: 20px;
    margin-bottom: 1em;
}

.div-interesses {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}

.interesses {
    border: 2px solid;
    border-radius: 8px;
    color: var(--cor-de-fundo);
    cursor: pointer;
    font-size: 16px;
    padding: 1rem;
    opacity: 30%;
}

.interesses input {
    display: none;
}

.interesses:hover {
    background-color: var(--cor-destaque);
    color: var(--branco);
    opacity: 100%;
}

.selected {
    background-color: var(--cor-destaque);
    color: var(--branco);
    opacity: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fieldset-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .3em;
    margin-bottom: .5rem;
}

.input-mensagem {
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--cor-destaque);
    font-size: 16px;
    outline: none;
    padding: .5em;
}

.input-mensagem::placeholder {
    color: var(--cor-de-fundo);
    font-size: 16px;
}

.botao-enviar {
    background-color: var(--cor-destaque);
    color: var(--branco);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 1em 2em;
    gap: .5em;
}

.botao-enviar--desativado {
    opacity: 30%;
}

.erro-nome, .erro-email, .erro-mensagem {
    font-size: 12px;
    color: #FF0000;
    margin-bottom: 1em;
    visibility: hidden;
}


/*------------------------------------*/
@media screen and (max-width: 1024px) {
    .contato-lista {
        font-size: 16px;
    }    

    .div-interesses {
        margin-bottom: 3rem;
    }

    .interesses {
        padding: 1rem 2rem;
    }

    .input-mensagem::placeholder {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   

    .contato {
        margin: 3em 0;
    }

    .redes-sociais {
        margin-bottom: 1em;
    }

    .lado-direito {
        width: 100%;
    }

    .lado-esquerdo {
        width: 100%;
        padding: 0;
    }

    .botao-enviar {
        width: 100%;
        justify-content: center;
    }
    
}

@media screen and (max-width: 480px) {
    .container {
        padding: 2em 1.5rem;
    }

    .titulo-principal {
        font-size: 30px;
    }

    .redes-sociais {
        display: flex;
       justify-content: space-around;
    }

    .titulo-mensagem {
        font-size: 16px;
    }

    .interesses {
        font-size: 14px;
        padding: 1rem;
    }
}