@import url(../css/_reset.css);
@import url(../css/_base.css);

/*----Section Esquerda-----*/

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5em;
    width: 50%;
}

.titulo-principal {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
}

.titulo-principal--destaque {
    color: var(--cor-destaque);
}

.contato-lista {
    display: flex;
    align-items: center; 
    cursor: pointer;
    border: 3px solid transparent;
    padding: 1em;
}

.contato-lista:active {
    background-color: #570A57;
    border: 3px solid var(--cor-destaque);
    border-radius: 16px;  
}

.contato-lista--icone {
    margin-right: 1em;
}

.redes-sociais {
    display: flex;
    gap: 1em;
    cursor: pointer;
}

.redes-sociais--icone {
    padding: 1em;
}

.redes-sociais--item:active {
    background-color: var(--cor-destaque);
    border-radius: 50%;
}

/*----Section Diretia-----*/

.lado-direito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--branco);
    border-radius: 24px;
    padding: 1.5em;
    width: 50%;
}

.titulo-mensagem {
    color: var(--cor-de-fundo);
    font-size: 20px;
    margin-bottom: 1em;
}

.div-botoes-mensagem {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    margin-bottom: 1em;
}

.botoes-mensagem {
    border: 2px solid;
    border-radius: 8px;
    color: var(--cor-de-fundo);
    font-size: 16px;
    padding: .5rem;
    opacity: 30%;
}

.botoes-mensagem:active {
    background-color: var(--cor-destaque);
    color: var(--branco);
    opacity: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.fieldset-mensagem {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.label-mensagem {
    color: var(--cor-de-fundo);
    font-size: 16px;
    top: 40px;
    position: relative;
}

.input-mensagem {
    border: none;
    border-bottom: 3px solid var(--cor-destaque);
    font-size: 16px;
    outline: none;
    padding: .5em;
}

.botao-mensagem {
    background-color: var(--cor-destaque);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 1em 2em;
    gap: .5em;
}

.label-mensagem, .input-mensagem, .botao-mensagem {
    opacity: 30%
} 